.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container p{
    font-family: Arial;
    text-decoration: underline;
}

.container a {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
}
